@model IEnumerable<ProdutoViewModel>

<div class="container row p-1">
    <div class="col-12 col-lg-8">
        <h3>Produtos</h3>
    </div>
</div>
<div class="card">
    <div class="card-header text-end">
        <a asp-action="ProdutoCreate" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Adicionar</a>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Descricao
                            </th>
                            <th class="text-end">
                                Preço
                            </th>
                            <th>
                                Categoria
                            </th>
                            <th class="text-end">
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Nome
                                </td>
                                <td>
                                    @item.Descricao
                                </td>
                                <td class="text-end">
                                    @item.Preco.ToString("C")
                                </td>
                                <td>
                                    @item.CategoriaNome
                                </td>
                                <td class="text-end">
                                    <a asp-action="ProdutoUpdate" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
                                    <a asp-action="ProdutoDelete" asp-route-id="@item.Id" class="btn btn-outline-danger"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
